@import url("../css/base.css");
@import url("../css/util.css");
@import url("../css/components.css");
@import url("../css/typography.css");
@import url("../css/icons.css");

body {
  width: 50%;
  height: 50%;
  scale: 2;
  transform-origin: 0 0;
}
.grid {
  height: 100%;
  grid-template-rows: 1fr auto;
}